.additional-card {
  border-top: 1px solid @range-border;

  &:last-child {
    border-bottom: 1px solid @range-border;
  }
  padding-top: 13px;
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
}

.additional-card__title {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.additional-card__description {
  .list-style();
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px;
}

.additional-card__termin {
}

.additional-card__definition {
}

.additional-card__button {
}
