.advantages {
  padding-bottom: 18px;
}

.advantages__wrapper {
  .container();
  padding: 0 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 38px;
}

.advantages__list {
  .list-style();
}

.advantages__item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 80px;

  p {
    .text();
    font-size: 14px;
    line-height: 1.3;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background-color: @green;
  }
}

.advantages__item-eco {
}

.advantages__item-easy {
}

.advantages__item-change {
}

.advantages__item-result {
}
