.advantages {
  padding-bottom: 42px;

  .tablet({
    padding-bottom: 47px;
    border-bottom: 1px solid @menu-border;
  });

  .desktop({
    padding-bottom: 0;
    border-bottom: none;
  });
}

.advantages__wrapper {
  .container();
  padding-top: 27px;

  .tablet({
<<<<<<< HEAD
<<<<<<< HEAD
    padding-top: 45px;
  });

  .desktop({
    padding-top: 71px;
=======
=======
>>>>>>> dd69e9e (сборка)
    padding-top: 42px;
  });

  .desktop({
    padding-top: 67px;
<<<<<<< HEAD
>>>>>>> dd69e9e (сборка)
=======
>>>>>>> dd69e9e (сборка)
  });
}

.advantages__title {
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 38px;

  .tablet({
    font-size: 60px;
    margin-bottom: 72px;
  });
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> dd69e9e (сборка)

  .tablet({
    margin-bottom: 68px;
  });
<<<<<<< HEAD
>>>>>>> dd69e9e (сборка)
=======
>>>>>>> dd69e9e (сборка)
}

.advantages__list {
  .list-style();
  counter-reset: list-counter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .tablet({
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 77px;
<<<<<<< HEAD
<<<<<<< HEAD
    column-gap: 153px;
=======
    column-gap: 134px;
>>>>>>> dd69e9e (сборка)
=======
    column-gap: 134px;
>>>>>>> dd69e9e (сборка)
  });

  .desktop({
    column-gap: 78px;
  });
}

.advantages__item {
  position: relative;
  counter-increment: list-counter;
  display: flex;
  align-items: center;
  gap: 20px;

  .tablet({
<<<<<<< HEAD
<<<<<<< HEAD
    flex-basis: calc((100% - 153px) / 2);
=======
    flex-basis: 250px;
>>>>>>> dd69e9e (сборка)
=======
    flex-basis: 250px;
>>>>>>> dd69e9e (сборка)
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    padding-bottom: 57px;
  });

  .desktop({
    flex-basis: calc((100% - 78px * 3) / 4);
  });

  p {
    .text();
    font-size: 14px;
    line-height: 1.3;

<<<<<<< HEAD
<<<<<<< HEAD
    .tablet({
      font-size: 16px;
      line-height: 1.5;
      width: 90%;
=======
=======
>>>>>>> dd69e9e (сборка)
    br {
      display: none;

      .tablet({
        display: inline;
      });
    }

    .tablet({
      font-size: 16px;
      line-height: 1.5;
<<<<<<< HEAD
>>>>>>> dd69e9e (сборка)
=======
>>>>>>> dd69e9e (сборка)
    });

    .desktop({
      width: 100%;
    });
  }

  &::before {
    content: "";
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: @green;
    background-position: center center;
    background-repeat: no-repeat;

    .tablet({
      width: 80px;
      height: 80px;
    });
  }

  &::after {
    .tablet({
      position: absolute;
      content: counter(list-counter);
      width: 134px;
      height: 230px;
      top: -35px;
      right: 0;
      font-size: 280px;
      line-height: 1;
      text-align: center;
      color: @grey-bg;
      z-index: -1;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> dd69e9e (сборка)

      .tablet({
        top: -40px;
        right: 5px;
      });
<<<<<<< HEAD
>>>>>>> dd69e9e (сборка)
=======
>>>>>>> dd69e9e (сборка)
    });
  }
}

.advantages__item-eco {
  &::before {
    background-image: url("../img/icon_leaf.svg");
  }
}

.advantages__item-easy {
  &::before {
    background-image: url("../img/icon_tub.svg");
  }
}

.advantages__item-change {
  &::before {
    background-image: url("../img/icon_eat.svg");
  }
}

.advantages__item-result {
  &::before {
    background-image: url("../img/icon_alarm.svg");
  }
}
