.card {
  .tablet({
    border-top: none;
    background-color: @grey-bg;
  });

  .desktop ({
    max-width: 245px;
  });
}

.card__wrapper {
  .container();
  padding: 19px 20px 24px;
  display: grid;
  grid-template-columns: 140px 3fr 2fr;
  grid-template-rows: repeat(3, auto);

  .tablet({
    padding: 38px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  });

  .desktop({
    padding-bottom: 40px;
  });
}

.card__title {
  grid-column: ~ "2/3";
  grid-row: ~ "1/2";
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 10px;

  .tablet({
    font-size: 20px;
    max-width: 145px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 21px;
  });

  .desktop ({
    margin-top: 45px;
  });
}

.card__image {
  width: 140px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
  grid-column: ~ "1/2";
  grid-row: ~ "1/3";

  .tablet({
    width: 168px;
    height: 200px;
    position: relative;
    top: -74px;
    margin-bottom: -74px;
  });

  .desktop ({
    width: 172px;
    height: 196px;
    top: -80px;
    margin-bottom: -80px;
  });

  img {
    .tablet({
      width: 168px;
      height: 200px;
    });

    .desktop ({
      width: 172px;
      height: 196px;
    });
  }
}

.card__description-list {
  grid-column: ~ "2/4";
  grid-row: ~ "2/3";
  .text();
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  flex-direction: column;

  .tablet({
    align-self: stretch;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 33px;
  });
}

.card__description-item {
  display: flex;
  justify-content: space-between;
  gap: 2px;

  .tablet({
    padding-bottom: 9px;
    border-bottom: 1px solid @range-border;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  });
}

.card__description-definition {
  margin: 0;
}

.card__button {
  grid-column: ~ "1/-1";
  grid-row: ~ "3/4";
  margin-top: 13px;

  .tablet({
    align-self: stretch;
    margin-top: 0;
  });
}
