.card {
}

.card__wrapper {
  .container();
  padding: 19px 20px 25px;
  display: grid;
  grid-template-columns: 50% 27% 23%;
  grid-template-rows: repeat(3, auto);
}

.card__title {
  grid-column: ~ "2/3";
  grid-row: ~ "1/2";
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.card__image {
  order: -1;
  grid-column: ~ "1/2";
  grid-row: ~ "1/3";
}

.card__description-list {
  grid-column: ~ "2/4";
  grid-row: ~ "2/3";
  .text();
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  flex-direction: column;
}

.card__description-item {
  display: flex;
  justify-content: space-between;

  &:not(:last-of-type) {
    margin-bottom: 2px;
  }
}
.card__description-termin {
}
.card__description-definition {
  margin: 0;
}
.card__button {
  grid-column: ~ "1/-1";
  grid-row: ~ "3/4";
  margin-top: 17px;
}
