.compare-slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .tablet({
    gap: 20px;
  });

  .desktop({
    gap: 25px;
  });
}

.compare-slider__list {
  .list-style();
}

.compare-slider__item {
  display: none;
  align-items: center;
  justify-content: center;

  .tablet({
    width: 708px;
    height: 535px;
  });

  .desktop({
    width: 690px;
    height: 540px;
  });
}

.compare-slider__item--active {
  display: flex;
}

.compare-slider__image {
  width: 311px;
  height: 232px;

  .tablet({
    width: 708px;
    height: 535px;
  });

  .desktop({
    width: 690px;
    height: 540px;
  });
}
