.control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.control__button {
  .button();
  min-width: 70px;
}

.control__range {
  cursor: pointer;
  position: relative;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid @range-border;
  background-color: @white;
}

.control__range-button {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 3px);
  left: 6px;
  border: none;
  background-color: @green;
  width: 35px;
  height: 6px;
  border-radius: 6px;
}
