.example {
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: @grey-bg-ex;
}

.example__wrapper {
  .container();
  margin-bottom: 42px;
}

.example__title {
  margin-bottom: 33px;
  font-size: 36px;
  line-height: 1.1;
}

.example__lead {
  .text();
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 40px;
}

.example__descriptions {
}

.example__slider {
}
