.footer {
  background-color: @grey-bg;
}

.footer__wrapper {
  .container();
  display: flex;
  padding-top: 39px;
  padding-bottom: 22px;
  flex-direction: column;

  .tablet({
    padding-top: 55px;
    padding-bottom: 61px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  });

  .desktop({
    padding-top: 57px;
    padding-bottom: 58px;
  });
}

.footer__logo {
  padding-bottom: 32px;
  border-bottom: 1px solid @footer-border;
  display: flex;
  justify-content: center;
  transition: @transition;

  &:hover[href] {
    opacity: 0.8;
  }

  &:active[href] {
    opacity: 0.6;
  }

  .tablet({
    padding-bottom: 0;
    border-bottom: none;
  });
}

.footer__link {
  display: flex;
  align-items: center;
  padding-top: 22px;
  border-top: 1px solid @footer-border;

  .tablet({
    padding: 0;
    border-top: none;
    gap: 22px;
  });

  &:active {
    opacity: 0.3;
  }
}

.footer__link-text {
  margin-right: auto;
  color: @text;
}

.footer__link-logo {
  fill: @link-color;
}

.footer__link:hover .footer__link-logo {
  fill: @green;
}

