.header__wrapper {
  .container();
  position: relative;
  z-index: 15;
  padding-top: 12px;
  display: flex;
  flex-direction: column;

  .tablet({
    flex-direction: row;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-bottom: 62px;
=======
    margin-bottom: 65px;
>>>>>>> dd69e9e (сборка)
=======
    margin-bottom: 65px;
>>>>>>> dd69e9e (сборка)
    align-items: center;
    padding-top: 24px;
  });

  .desktop({
    margin-bottom: 0;
    padding-top: 53px;
  });
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  position: absolute;
  left: 0;
  right: 0;
<<<<<<< HEAD
<<<<<<< HEAD
  top: 65px;
=======
=======
>>>>>>> dd69e9e (сборка)
  top: 64px;

  .tablet({
    padding-top: 6px;
  });
<<<<<<< HEAD
>>>>>>> dd69e9e (сборка)
=======
>>>>>>> dd69e9e (сборка)
}
