.info {
  background-color: @grey-bg;

  .desktop({
    position: relative;
    background-color: @white;
  });

  &--index {
    background-color: @white;
  }
}

.info__wrapper {
  .container();
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: center;

  .tablet({
    padding-top: 62px;
    padding-bottom: 58px;
    padding-left: calc(@padding--tablet + 41px);
    padding-right: calc(@padding--tablet + 41px);
  });

  .desktop({
    position: absolute;
    background-color: @white;
    width: 570px;
    top: 95px;
    left: @padding--desktop;
  });
}

.info__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.25;
  color: @other-card;
  max-width: 170px;

  .tablet({
    font-size: 20px;
    line-height: 1.1;
  });
}

.info__address {
  .text();
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  min-width: 140px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .tablet({
    font-size: 16px;
    line-height: 1;
    max-width: 160px;
    text-align: right;
  });

  .desktop({
    text-align: left;
  });
}

.info__map {
  height: 362px;

  .tablet({
    height: 400px;
  });
}

.info__map-frame {
  width: 100%;
  height: 100%;
}
