.input-field {
  position: relative;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 12px;

  .tablet({
    font-size: 20px;
  });
}

.input-field__label {
}

.input-field__input {
  padding: 13px 15px;
  min-height: 46px;
  border: 1px solid @input-border;
  flex-grow: 1;

  .tablet({
    min-height: 52px;
    padding: 10px 19px;
  });

  &:hover {
    border: 1px solid @range-border;
  }

  &:focus {
    outline: none;
    border: 2px solid @text;
  }

  &:valid {
    background-color: @white;
  }

  &:focus:invalid,
  &:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid @error;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.13;
    color: @text;
    text-transform: uppercase;

    .tablet({
      font-size: 20px;
    });
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.input-field__icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  .tablet({
    right: 18px;
  });
}
