.logo {
  display: flex;
  align-items: center;
  padding-bottom: 17px;

  .tablet({
    padding: 0;
  });
}

.logo__icon {
  margin-right: 57px;
  flex-shrink: 0;

  .tablet({
    margin-right: 12px;
  });
}
