.logo {
  display: flex;
  align-items: center;
  padding-bottom: 16px;

  .tablet({
    padding: 0;
  });
}

.logo__icon {
  margin-right: 57px;
  flex-shrink: 0;

  .tablet({
    margin-right: 0;
  });

  img {
    .tablet({
      width: 174px;
      height: 51px;
    });

    .desktop({
      width: 202px;
      height: 59px;
    });
  }
}

.logo__text {
  .tablet({
    display: none;
  });
}
