.main-catalog {
  border-top: 1px solid @footer-border;
  margin-bottom: 25px;
}

.main-catalog__wrapper {
  .container();
}

.main-catalog__title {
  padding: 27px 20px 35px;
  line-height: 1;
  color: @black;
}

.main-catalog__list {
  .list-style();
}

.main-catalog__item {
  height: 209px;
  border-top: 1px solid @grey-hover;

  &:last-of-type {
    border-bottom: 1px solid @grey-hover;
  }
}
