

.menu__list
{
    display: flex;
    flex-direction: column;

    .list-style();
}



.menu__link
{
    font-size: 20px;
    font-weight: 500;
    line-height: 1;

    padding: 23px 0;

    text-align: center;
    text-transform: uppercase;

    color: @black;
    border-top: 1px solid @menu-border;
}







.menu__button--hidden
{
    display: none;
}
