.menu {
  background-color: @white;

  .tablet({
    background-color: transparent;
    position: static;
    display: flex;
    max-width: 63%;
    margin-left: auto;
  });

  .desktop({
    max-width: 49%;
  });

  &--nojs {
    margin-left: -@padding--mobile;
    margin-right: -@padding--mobile;
    position: static;

    .tablet({
      margin-left: auto;
      margin-right: 0;
    });
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  .list-style();

  .tablet({
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 20px;
  });
}

.menu__item {
  border-top: 1px solid @menu-border;
  z-index: 20;

  &:last-child {
    border-bottom: 1px solid @menu-border;
  }

  .tablet({
    width: auto;
    border:none;
    margin: 0;

    &:last-child {
      border: none;
    }
  });
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  padding: 23px 0;
  transition: @transition;

  &[href]:hover {
    .tablet({
      opacity: 0.6;
    });
  }

  &[href]:active {
    opacity: 0.3;
  }

  .tablet({
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    padding: 0;
    white-space: nowrap;
  });

  .desktop({
    font-size: 20px;
  });
}

.menu__link--active {
  position: relative;

  &::after {
    .tablet({
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: -10px;
      left: 0;
      background-color: @green;
    });
  }
}

.menu__link--index {
  .desktop({
    color: @white;
  });
}

.menu__link--index-active {
  position: relative;

  &::after {
    .tablet({
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: -10px;
      left: 0;
      background-color: @green;
    });

    .desktop({
      background-color: @white;
    });
  }
}

.menu__button {
  position: absolute;
  top: -41px;
  right: 20px;
  width: 24px;
  height: 18px;
  cursor: pointer;
  background: none;
  border: none;

  .tablet({
    display: none;
  });
}

.menu--closed .menu__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
}

.menu--closed .menu__button:active::before {
  background-color: fade(@black, 30%);
  box-shadow:
    0 8px 0 0 fade(@black, 30%),
    0 16px 0 0 fade(@black, 30%);
}

.menu--closed .menu__list {
  display: none;

  .tablet({
    display: flex;
  });
}

.menu--opened .menu__button {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 25px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@black, 30%);
  }
}

.menu--nojs .menu__button {
  display: none;
}

.menu--nojs .menu__list {
  display: flex;
}
