.others-card {
}

.others-card__wrapper {
  .container();
  padding: 25px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.others-card__message {
  margin-top: auto;
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.others-card__note {
  .text();
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 21px;
}

.others-card__button {
}
