.program {
  position: relative;
  background-color: @grey-bg;
  padding: 30px 20px 18px 20px;
  display: flex;
  flex-direction: column;

  .tablet({
    padding: 77px 30px 53px 52px;
  });

  .desktop ({
    flex-grow: 1;
    flex-basis: 570px;
  });

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @green;

    .tablet({
      left: unset;
      top: 60px;
      right: 62px;
      width: 200px;
      height: 200px;
    });

    .desktop({
      right: unset;
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    });
  }

  &:last-child::before {
    .tablet ({
      top: 91px;
    });

    .desktop({
      top: 47px;
    });
  }
}

.program__title {
  color: @black;
  margin-bottom: 29px;
  margin-left: 70px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.5;

  .tablet({
    font-size: 36px;
    margin-bottom: 24px;
    margin-left: 0;
  });

  .desktop ({
    margin-left: 162px;
    margin-bottom: 73px;
  });
}

.program__lead {
  .text();
  font-size: 14px;
  line-height: 1.3;
  padding-bottom: 23px;
  border-bottom: 1px solid @footer-border;
  margin-bottom: 15px;

  .tablet({
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 48px;
    padding-bottom: 0;
    border: none;
    max-width: 55%;
  });

  .desktop ({
    width: auto;
    max-width: 100%;
    margin-bottom: 23px;
  });
}

.program__link {
  text-transform: uppercase;
  color: @black;
  font-size: 16px;
  line-height: 1;

  .tablet({
    font-size: 20px;
  });
}
