.results {
  .list-style();
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 31px;
  color: @black;
}

.results__item {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;

  dd {
    margin: 0;
  }
}

.results__item--accent {
  flex-direction: column;
  width: 124px;

  dt {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 1;
    order: 1;
    width: 70px;
    text-align: center;
  }

  dd {
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
  }
}

.results__item--simple {
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}
